.withAuthContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1040px;
  display: grid;
  grid-template-columns: 4fr 5fr;
  grid-auto-rows: 1fr;
  grid-gap: 30px;

  @media screen and (max-width: 1080px) {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  @media screen and (max-width: 480px) {
    grid-gap: 0;
  }
}

.withoutAuthContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1040px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 30px;
}
