.containerWrapper {
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1460px; // 1300px + 2 * 30px
}

@media (max-width: 1366px) {
  .containerWrapper {
    max-width: 1186px; // 1126px + 2 * 30px
  }
}

@media (max-width: 960px) {
  .containerWrapper {
    padding: 0 20px;
  }
}

.contentWrapper {
  flex: 1 1 auto;
  margin-bottom: 90px;

  @media screen and (max-width: 960px) {
    margin-bottom: 80px;
  }

  @media screen and (max-width: 480px) {
    margin-bottom: 64px;
  }

}
