.cookieBarWrapper {
  width: 100%;
  max-width: 480px;
  position: fixed;
  bottom: 50px;
  right: 10vw;
  padding: 30px;
  border-radius: 6px;
  background-color: var(--color-main-white);
  color: var(--color-text-grey-dark);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 32px;
  z-index: 1000;
  box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.10);

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 16px 30px 30px 30px;
    max-width: 328px;
    text-align: center;
  }

  @media (max-width: 480px) {
    max-width: 100%;
    width: calc(100% - 32px);
    padding: 24px;
    font-size: 14px;
    bottom: 30px;
    right: 16px;
    left: 16px;
  }
}

.cookieBarButtons {
  display: flex;
  gap: 22px;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 12px;
  }
}

.cookieBarLink {
  color: var(--primaty-white);
  text-decoration: underline;

  &:hover {
    color: var(--primary-yellow);
    transition: color 0.05s ease-in-out;
    cursor: pointer;
  }
}
